#feature-project-frame	{
	width: 100%;
	// height: 200%;
	background-image: url('my-desk.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

	.feature-projects-aside {
		float: left;
		width: 240px;
		padding: 40px 15px;
		@include tablet-down {
			width: 0;
			padding: 0;
		}
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		h2 {
			color: $secondary;
			font-weight: 700;
			margin-bottom: 90px;	
		}
		h3,p {
			color: $primary;
			padding-left: 15px;
			margin-bottom: 15px;
		}
	}
	.featured-projects {
		float: right;
		margin: 0;
		width: calc(100% - 240px);
		@include tablet-down {
			width: 100%;
		}
		.project-thumb {
			float: left;
			width: 50%;
			height: 50vh;
			@include small-tablet-down {
				width: 100%;
			}
			margin: 0;
			transition: all 333ms ease-in-out;
			background-repeat: no-repeat;
			background-color: transparentize($secondary,0.2);
			background-position: center;
			-webkit-background-size: 50%;
			     -o-background-size: 50%;
			        background-size: 50%;
			h3 {
				color: $white;
				font-size: 240%;
				opacity: 0;
				color: $secondary;
				transform: translate(-50%,-50%) scale(1.8);
				transition: all 333ms ease-in-out;
			}
			// &.zudo {
			// 	background-image: url('laptop1.png');			
			// }
			// &.mkpd {
			// 	background-image: url('laptop-marketpad.png');			
			// }
			// &.castr {
			// 	background-image: url('desktop1.png');			
			// }
			// &.jsci {
			// 	background-image: url('tablet1.png');			
			// }
			&:hover {
				background-color: transparentize($primary,0.2);
				-webkit-background-size: 75%;
				     -o-background-size: 75%;
				        background-size: 75%;
				h3 {
					transform: translate(-50%,-50%) scale(1.2);
					opacity: 1;
					color: $white;
					text-shadow: 0 3px 6px $shadow;
				}

				&.zudo {
					background-image: url('tablet1.png');			
				}
				&.mkpd {
					background-image: url('phone-marketpad-2.png');			
				}
				&.castr {
					background-image: url('phone1.png');			
				}
				&.jsci {
					background-image: url('desktop1.png');			
				}
			}
		}
	}
}
