#navbar {
	position: fixed;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	#nav-brand {
		.nav-brand-logo {
			@include span(1 of 12);
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding: 3px 12px 9px 12px;
			color: lighten($primary,50%);
			transition: all 333ms ease-in-out;
		}
		.nav-brand-name {
			font-weight: 700;
			color: lighten($primary,50%);
			transition: all 333ms ease-in-out;			
		}
		&:hover {
			.nav-brand-logo {
				color: $primary;
			}
			.nav-brand-name {
				color: $primary;
			}
		}
	}
	#nav-burger {
		padding: 6px 12px 4px 12px;
		background: none;
		transition: all 333ms ease-in-out;
		svg {
			transition: all 333ms ease-in-out;
			fill: lighten($primary,50%);
			background: none;
		}
		&:hover {
			// background: $secondary;
			svg {
				fill: $primary-light;
			}
		}
	}
}