.skills-hero {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 30px;
	position: relative;
	.skills-lists {
		p {
			margin-bottom: 0;
		}
		.skills-list {
			width: 50%;
			@include laptop-down {
				width: 100%;
			}
			margin-top: 0;
			li.skill {			
				position: relative;
				padding: 10px;
				margin: 10px;
				font-size: 120%;
				background: $secondary;
				transform: scale(0.99);
				&:hover {
					background: $secondary-light;
					transform: scale(1.0);
				}
				p {
					color: $primary;
					position: relative;
					z-index: 300;
				}
				.skill-level {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					width: 0%;
					height: 100%;
					transition: all 333ms ease-in-out;
					background: darken($secondary-dark,2%);
				}
			}	
		}
	}
}

