#contact {
	h1.page-title {
		font-size: 300%;
		margin-bottom: 30px;
	}
	.contact-headshot {
		float: left;
		width: 30%;
		margin-right: 30px;
		img	{
			-webkit-border-radius: 50%;
					border-radius: 50%;
		}
	}
	.contact-info {
		// float: left;
		width: 49%;
		// margin: 0.5%;
		padding: 15px;
		background: $white;
		-webkit-box-shadow: 0 12px 21px -15px $shadow;
				box-shadow: 0 12px 21px -15px $shadow;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		@include tablet-down {
			width: 98%;
			margin: 1%;
		}
		.contact-icons i {
			margin: 5px;
			font-size: 150%;
		}
	}
	.contact-form {
		float: left;
		width: 49%;
		margin: 0.5%;
		padding: 15px;
		background: $white;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		@include tablet-down {
			width: 98%;
			margin: 1%;
		}

	}
}
