html {
	background: $off-white;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
	&:first-of-type {
		padding-top: 80px;
	}
	&:last-of-type {
		padding-bottom: 30px;
	}
}

img {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

hr {
	border-color: rgba(0,0,0,0.1);
	margin: 0 3%;
}

ul, ol {
	padding: 0;
	li {
		list-style-type: none;
		a {
			text-decoration: none;
		}
	}
}
