.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  display: inline-block;
  height: 39px;
  padding: 0 30px;
  margin: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: $main-font-color;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid $lt-grey;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 333ms ease-in-out;
  &:hover,
  &:active,
  &:focus{
    border-color: $md-grey;
    outline: 0;
  }
}

.btn-primary {
  @extend .btn;
  background-color: $primary;
  border-color: $primary;
  color: $off-white;
  &:hover {
    background-color: $primary-light;
    border-color: $primary;
    color: $white;
  }  
}
.btn-secondary {
  @extend .btn;
  background-color: $secondary;
  border-color: $secondary;
  color: $white;
  &:hover {
    background-color: $secondary-light;
    border-color: $secondary;
    color: $white;
  }  
}

.btn-primary-ghost {
  @extend .btn;
  border-color: $primary;
  color: $primary;
  &:hover {
    background-color: $primary-light;
    border-color: $primary-light;
    color: $white;
  }  
}
.btn-secondary-ghost {
  @extend .btn;
  border-color: $secondary;
  color: $secondary;
  &:hover {
    background-color: $secondary-light;
    border-color: $secondary-light;
    color: $white;
  }  
}
